<header class="header">
  <a [routerLink]="['/home']"><h1 class="logo"><strong>CAFIORA</strong></h1></a>
</header>

<main class="main-layout">
  <section class="new-order">

    <header>New Order</header>

    <div class="order-list-wrapper">

      <div class="order-list">
        @for (order of orders; track order.id) {
          @if (order.status === false) {
            <article class="order-card">

              <div class="card-info">
                <h3>{{order.tableNumber}} - Customer Name</h3>
                <p>Time: {{order.createdAt | date: 'shortTime'}}</p>
                <p>Date: {{order.createdAt | date: 'shortDate'}}</p>
              </div>

              <div class="card-button">
                <button (click)="updateOrderStatus(order.id)">Done</button>
              </div>

            </article>
          }
        }
      </div>

    </div>
  </section>

  <section class="completed-order">

    <header>Order-Completed</header>
    
    <div class="order-list-wrapper">

      <div class="order-list">
        @for (order of orders; track order.id) {
          @if (order.status === true) {
            <article class="order-card completed">

              <div class="card-info">
                <h3>{{order.tableNumber}} - Customer Name</h3>
                <p>Time: {{order.createdAt | date: 'shortTime'}}</p>
                <p>Date: {{order.createdAt | date: 'shortDate'}}</p>
              </div>

              <p class="status">Completed</p>

            </article>
          }
        }
      </div>

    </div>
  </section>
</main>
