<header class="header">
  <a [routerLink]="['/home']"><h1 class="logo"><strong>CAFIORA</strong></h1></a>
</header>

<main class="main-layout">
  <section class="new-order">

    <header>New Order</header>

    <div class="order-list-wrapper">

      <div class="order-list">
        <article class="order-card">

          <div class="card-info">
            <h3>N1 - Customer Name</h3>
            <p>Time: 14:08</p>
            <p>Date: 2/10/2025</p>
          </div>

          <div class="card-button">
            <button (click)="fetchOrderData()">Done</button>
          </div>

        </article>

        <article class="order-card">

          <div class="card-info">
            <h3>N1 - Customer Name</h3>
            <p>Time: 14:08</p>
            <p>Date: 2/10/2025</p>
          </div>

          <div class="card-button">
            <button>Done</button>
          </div>

        </article>

        <article class="order-card">

          <div class="card-info">
            <h3>N1 - Customer Name</h3>
            <p>Time: 14:08</p>
            <p>Date: 2/10/2025</p>
          </div>

          <div class="card-button">
            <button>Done</button>
          </div>

        </article>

        <article class="order-card">

          <div class="card-info">
            <h3>N1 - Customer Name</h3>
            <p>Time: 14:08</p>
            <p>Date: 2/10/2025</p>
          </div>

          <div class="card-button">
            <button>Done</button>
          </div>

        </article>

        <article class="order-card">

          <div class="card-info">
            <h3>N1 - Customer Name</h3>
            <p>Time: 14:08</p>
            <p>Date: 2/10/2025</p>
          </div>

          <div class="card-button">
            <button>Done</button>
          </div>

        </article>

      </div>
    </div>
  </section>

  <section class="completed-order">

    <header>Order-Completed</header>
    
    <div class="order-list-wrapper">
      <div class="order-list">
        <article class="order-card completed">

          <div class="card-info">
            <h3>N1 - Customer Name</h3>
            <p>Time: 14:08</p>
            <p>Date: 2/10/2025</p>
          </div>

          <p class="status">Completed</p>

        </article>

        <article class="order-card completed">

          <div class="card-info">
            <h3>N1 - Customer Name</h3>
            <p>Time: 14:08</p>
            <p>Date: 2/10/2025</p>
          </div>

          <p class="status">Completed</p>

        </article>

        <article class="order-card completed">
          
          <div class="card-info">
            <h3>N1 - Customer Name</h3>
            <p>Time: 14:08</p>
            <p>Date: 2/10/2025</p>
          </div>

          <p class="status">Completed</p>

        </article>

      </div>
    </div>
  </section>
</main>
