<div class="wrapper">

  <aside class="order-list">
    <h2>Order List</h2>

    <article class="order-card">
      <h3>Order ID: 10</h3>
      <p>Table 1 - Customer Name</p>
      <time>Created: 14:00 AM</time>
      <p style="color: crimson">Status: Unpaid</p>
    </article>

    <article class="order-card">
      <h3>Order ID: 10</h3>
      <p>Table 1 - Customer Name</p>
      <time>Created: 14:00 AM</time>
      <p style="color: crimson">Status: Unpaid</p>
    </article>

    <article class="order-card">
      <h3>Order ID: 10</h3>
      <p>Table 1 - Customer Name</p>
      <time>Created: 14:00 AM</time>
      <p style="color: crimson">Status: Unpaid</p>
    </article>

    <article class="order-card">
      <h3>Order ID: 10</h3>
      <p>Table 1 - Customer Name</p>
      <time>Created: 14:00 AM</time>
      <p style="color: crimson">Status: Unpaid</p>
    </article>

    <article class="order-card">
      <h3>Order ID: 10</h3>
      <p>Table 1 - Customer Name</p>
      <time>Created: 14:00 AM</time>
      <p style="color: crimson">Status: Unpaid</p>
    </article>

    <article class="order-card">
      <h3>Order ID: 10</h3>
      <p>Table 1 - Customer Name</p>
      <time>Created: 14:00 AM</time>
      <p style="color: crimson">Status: Unpaid</p>
    </article>

  </aside>

  <section class="order-detail">
    <h2>Order Detail</h2>

    <article class="order-detail-content">
      <header>
        <p><strong>Order ID: </strong>1</p>
        <p><strong>Table: </strong>1</p>
        <p><strong>Customer Name: </strong>Lorem</p>
        <p><strong>Status: </strong>Unpaid</p>
      </header>

      <table class="order-table">
        <col style="width: 10%;"> <!--Index-->
        <col style="width: 40%;"> <!--Description-->
        <col style="width: 10%;"> <!--Quantity-->
        <col style="width: 20%;"> <!--Unit Price-->
        <col style="width: 20%;"> <!--Amount-->

        <thead>
          <tr>
            <th>Index</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Amount</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td colspan="4"><strong>Total: </strong></td>
            <td>49</td>
          </tr>
        </tfoot>
      </table>
      <button>Checkout</button>

    </article>
  </section>
</div>